@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Playfair+Display:ital,wght@0,600;1,500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;    
}


body {
    font-size: 100%;
    background: #3b7980;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px;
    background-color: #ffffff;
    position: fixed;
    
}

.img-header{
    height: 75px;
    border-radius: 30px;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid white;
    padding-top: 90px;
}

.section-principal{
    padding: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url("imgs/fundo.webp");
    Background-repeat: no-repeat;
    Background-size: 1800px;
    Background-position:center top;
}

.conteudo-principal-img{
    height: 300px;
    border-radius: 300px;  
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.7);
}

.conteudo-link-img:hover{
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.7);
    border-radius: 300px;
}

.section-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section-principal-texto{
    font-weight:150;
}

.titulo{
    font-weight: 400;
    font-size: 64px;
}

.conteudo-button{
    background-color: white;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-size: 20px;     
}
.conteudo-button:hover{
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
}

.section-secundaria{
    padding: 45px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.section-secundaria-topicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;   
}

.titulo-topicos{
    border-top: 0.4px solid white;
    padding-top: 48px;
    font-size: 30px;
    color: white;
}
.tabela-topico{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.footer{
    display: flex;
    gap: 20px;
    align-items: center;    
    padding: 48px ;
    background-color: #141717;
    color: white;
    font-size: 20px;
}
.footer a{
    color: inherit;   
}

.footer a:hover{
    text-decoration: underline;
}

.topico{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topico a{
    text-decoration: none;
    color: white;
}
.topico a:hover{
    text-decoration: none;
    color: black;
}
.imgs-padrao{
    height: 50px;
    border-radius: 100px;
    padding-left: 10px;
}

.img-footer{
    height: 40px;
    border-radius: 20px;
}

.img-footer:hover{
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(29, 91, 141, 0.8);
}
